.img-fluid {
    width: 800px; /* İstenen genişlik */
    height: 600px; /* İstenen yükseklik */
    object-fit: cover; /* Resim orantılı bir şekilde doldursun */
}
.small-Img{
    width: 200px; /* İstenen genişlik */
    height: 150px; /* İstenen yükseklik */
    object-fit: cover; /* Resim orantılı bir şekilde doldursun */
}
/* urundetay.css */
/* Diğer stiller */

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    background: #fff;
    
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
}
